$activeDay: #4ca6fe;

.day {
	&__text {
		font-family: "Helvetica Neue";
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;

		margin-bottom: 28px;
		padding: 6px 7px;
		margin-top: 0;

		border-radius: 50%;

		&:hover {
			color: white;

			background: $activeDay;

			top: 18px;
			left: 18px;
		}
	}
}
