$activeDay: #4ca6fe;

.day {
	&__text {
		font-family: "Helvetica Neue";
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;

		margin-bottom: 28px;
		padding: 6px 7px;
		margin-top: 0;

		border-radius: 50%;

		@media (max-width: 1100px) {
			font-size: 16px;
			line-height: 20px;

			padding: 5px 6px;
			margin-bottom: 9px;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			text-align: center;

			padding: 3px 5px;
			margin-bottom: 10px;

			max-width: 26px;
			max-height: 26px;
		}
		@media (max-width: 413px) {
			font-size: 10px;
			line-height: 12px;
			padding: 2px;
			margin-bottom: 2px;
			max-width: 16px;
			max-height: 16px;
		}

		&:hover {
			color: white;

			background: $activeDay;

			top: 18px;
			left: 18px;
		}
	}
}
