.page {
	&__wrapper {
		background: white;
		padding: 0 30px 81px;

		@media (max-width: "1100px") {
			padding: 0 30px 28px;
		}
	}
	&__title {
		font-family: "Helvetica Neue";
		font-weight: 700;
		font-size: 34px;
		line-height: 38px;
		letter-spacing: 0.3px;
		color: #191919;

		padding-top: 30px;
		margin-bottom: 54px;

		@media (max-width: "1100px") {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 31px;
		}
	}
}

.content {
	&__wrapper {
		display: flex;
		align-items: flex-start;
		column-gap: 30px;
		flex-wrap: wrap;

		@media (max-width: "1100px") {
			justify-content: center;
		}
	}

	&__form {
		margin-top: 49px;
	}
}
