.page {
	&__wrapper {
		background: white;
		padding: 0 30px 81px;
	}
	&__title {
		font-family: "Helvetica Neue";
		font-weight: 700;
		font-size: 34px;
		line-height: 38px;
		letter-spacing: 0.3px;
		color: #191919;

		padding-top: 30px;
		margin-bottom: 25px;
	}
}

.content {
	&__wrapper {
		display: flex;
		align-items: flex-start;
		column-gap: 30px;
		flex-wrap: wrap;
	}

	&__form {
		margin-top: 49px;
	}
}
