$orange: #ff7733;

.notes__wrapper {
	&-miltiple {
		row-gap: 6px;
		max-height: 54px;
		overflow: auto;

		@media (max-width: "1100px") {
			max-height: 44px;
		}
	}
	&-single {
		height: 54px;
		justify-content: flex-end;

		@media (max-width: "1100px") {
			height: 44px;
		}
	}
	&-miltiple,
	&-single {
		display: flex;
		flex-direction: column;

		width: 122px;

		@media (max-width: "1100px") {
			max-width: 81px;
		}
		&::-webkit-scrollbar {
			height: 0px;
			width: 0px;
		}
		&::-webkit-scrollbar-track-piece {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background: transparent;
		}

		.note {
			background: rgba(242, 107, 81, 0.12);
			width: 100%;

			padding: 3px 10px 3px 4px;

			box-sizing: border-box;
			border-radius: 4px;

			@media (max-width: "1100px") {
				padding: 3px 6px 3px 4px;
			}

			&__text {
				font-family: "Helvetica Neue";
				font-size: 12px;
				line-height: 18px;
				font-weight: 500;
				color: $orange;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				margin: 0;

				@media (max-width: "1100px") {
					font-size: 10px;
					line-height: 12px;
				}
			}
		}
	}
}
