$gray: #828282;
$borderColor: #e8e8e8;
$activeDay: #4ca6fe;
$weekendColor: #5cb85c;
$orange: #ff7733;

.calendar {
	&__base {
		min-width: 1028px;
		max-width: 1028px;

		@media (max-width: "1100px") {
			min-width: 708px;
			max-width: 708px;
		}

		@media (max-width: "767px") {
			min-width: 382px;
			max-width: 382px;
		}
		@media (max-width: "413px") {
			min-width: 300px;
			max-width: 300px;
		}
	}

	&__header {
		width: 1028px;
		height: 28px;

		margin-bottom: 29px;

		@media (max-width: "1100px") {
			width: 708px;
			height: 24px;
			margin-bottom: 16px;
		}

		@media (max-width: "767px") {
			margin-bottom: 9px;
			width: 382px;
		}

		@media (max-width: "413px") {
			width: 300px;
		}
	}

	&__cell {
		height: 141px;

		background: white;
		padding: 12px;

		border-top: 1px solid $borderColor;

		position: relative;

		@media (max-width: "1100px") {
			height: 96px;
			padding: 10px;
		}
		@media (max-width: "767px") {
			height: 55px;
			padding: 5px;
		}
		@media (max-width: "413px") {
			height: 42px;
		}

		&:first-child {
			border-left: 1px solid $borderColor;
		}
		&:last-child {
			border-right: 1px solid $borderColor;
		}
	}

	&__cell + &__cell {
		border-left: 1px solid $borderColor;
	}

	&__day {
		color: $gray;

		max-height: 35px;
		background: white;

		position: absolute;
		top: 11px;

		border-radius: 50%;

		@media (max-width: "1100px") {
			max-height: 30px;
			max-width: 30px;
			top: 10px;
			left: 10px;
		}
		@media (max-width: "767px") {
			max-width: 26px;
			max-height: 26px;

			top: 5px;
			left: none;
			position: absolute;
			transform: translateX(14%);
		}
		@media (max-width: "413px") {
			transform: translateX(7%);
			margin-bottom: 6px;

			max-height: 16px;
			max-width: 16px;
		}

		&:focus,
		&:active {
			color: white;

			background: $activeDay;

			top: 11px;
			left: 12px;

			@media (max-width: "1100px") {
				top: 10px;
				left: 10px;
			}
			@media (max-width: "767px") {
				top: 5px;
				left: none;
			}
		}

		&[data-weekend] {
			color: $weekendColor;
		}

		&[data-selected] {
			color: white;
		}
	}

	&__month {
		width: 100%;
		max-width: 1028px;
	}
}

.header {
	&__control {
		height: 28px;
	}

	&__level {
		font-family: "Helvetica Neue";
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;

		height: 28px;

		@media (max-width: "1100px") {
			font-size: 20px;
			line-height: 24px;
		}

		@media (max-width: "767px") {
			font-size: 18px;
		}
	}
}

.weekday {
	font-family: "Helvetica Neue";
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	color: $gray;
	text-transform: uppercase;

	display: flex;
	align-items: center;

	background: white;
	padding: 18px;

	border-bottom: 0;
	border-top: 1px solid $borderColor;

	@media (max-width: "1100px") {
		font-size: 16px;
		line-height: 20px;
		padding: 15px 16px;
	}

	@media (max-width: "767px") {
		font-size: 14px;
		padding: 8px 10px 10px;

		justify-content: center;
	}
	@media (max-width: "413px") {
		font-size: 12px;
		padding: 5px;
	}

	&__cell {
		height: 59px;

		padding-bottom: 0;
		padding-bottom: 0;

		@media (max-width: "1100px") {
			height: 50px;
		}
		@media (max-width: "767px") {
			height: 38px;
		}
		@media (max-width: "413px") {
			height: 31px;
		}
	}

	&__cell + &__cell {
		border-left: 1px solid $borderColor;
	}
}

table {
	tr {
		&:last-child {
			td {
				border-bottom: 1px solid $borderColor;
				&:first-child {
					border-radius: 0 0 0 8px;
				}

				&:last-child {
					border-radius: 0 0 8px 0;
				}
			}
		}

		&:first-child {
			th {
				&:first-child {
					div {
						border-left: 1px solid $borderColor;
						border-radius: 8px 0 0 0;
					}
				}

				&:last-child {
					div {
						border-radius: 0 8px 0 0;
						border-right: 1px solid $borderColor;
					}
				}
			}
		}
	}
}
