$gray: #828282;
$borderColor: #e8e8e8;
$activeDay: #4ca6fe;
$weekendColor: #5cb85c;
$orange: #ff7733;

.calendar {
	&__base {
		min-width: 1028px;
		max-width: 1028px;
	}

	&__header {
		width: 1028px;
		height: 28px;

		margin-bottom: 29px;
	}

	&__cell {
		height: 141px;

		background: white;
		padding: 12px;

		border-top: 1px solid $borderColor;

		position: relative;
		&:first-child {
			border-left: 1px solid $borderColor;
		}
		&:last-child {
			border-right: 1px solid $borderColor;
		}
	}

	&__cell + &__cell {
		border-left: 1px solid $borderColor;
	}

	&__day {
		color: $gray;

		max-height: 35px;
		background: white;

		position: absolute;
		top: 11px;
		left: 12px;

		border-radius: 50%;

		&:focus,
		&:active {
			color: white;

			background: $activeDay;

			top: 11px;
			left: 12px;
		}

		&[data-weekend] {
			color: $weekendColor;
		}

		&[data-selected] {
			color: white;
		}
	}

	&__month {
		width: 100%;
		max-width: 1028px;
	}
}

.header {
	&__control {
		height: 28px;
	}

	&__level {
		font-family: "Helvetica Neue";
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;

		height: 28px;
	}
}

.weekday {
	font-family: "Helvetica Neue";
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	color: $gray;
	text-transform: uppercase;

	display: flex;
	align-items: center;

	background: white;
	padding: 18px;

	border-bottom: 0;
	border-top: 1px solid $borderColor;

	&__cell {
		height: 59px;

		padding-bottom: 0;
		padding-bottom: 0;
	}

	&__cell + &__cell {
		border-left: 1px solid $borderColor;
	}
}

table {
	tr {
		&:last-child {
			td {
				border-bottom: 1px solid $borderColor;
				&:first-child {
					border-radius: 0 0 0 8px;
				}

				&:last-child {
					border-radius: 0 0 8px 0;
				}
			}
		}

		&:first-child {
			th {
				&:first-child {
					div {
						border-left: 1px solid $borderColor;
						border-radius: 8px 0 0 0;
					}
				}

				&:last-child {
					div {
						border-radius: 0 8px 0 0;
						border-right: 1px solid $borderColor;
					}
				}
			}
		}
	}
}
